@{
    ViewData["Title"] = "Meu Restaurante";
    ViewData["CurrentPage"] = Enums.CurrentPage.MyRestaurant;
}

<div class="content-myrestaurant">
    <h1>O seu pedido de criação de restaurante foi feito, aguarde até que a administração o aceite.</h1>
</div>