@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="g_id_onload"
         data-client_id="724687745332-an8kc4k4tpmv15tabt4okv163e4s56mm.apps.googleusercontent.com"
         data-context="use"
         data-ux_mode="popup"
         @* data-login_uri="https://localhost:7263/sign-in" *@
         data-callback="loginCallback"
         data-nonce=""
         data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
         data-type="standard"
         data-shape="pill"
         data-theme="outline"
         data-text="signin_with"
         data-size="large"
         data-logo_alignment="left">
    </div>
</div>

<script>
    function loginCallback(d) {
        console.log(d)
    }
</script>
