@model AeroBites.Models.Restaurant; 

@{
    ViewData["Title"] = "Restaurantes";
}

<div class="content-restaurant">
    <div class="restaurant-menu-container">
        <div class="header-content">
            <header>
                <img class="banner" src="~/images/dummy-banner.jpg" alt="banner restaurant">
                <h1 class="name-restaurant">@Model.Name</h1>
                <div class="info">
                    <span>Avaliação 0.0 (0)</span>
                    <span>Tempo de entrega 00 min</span>
                    <span>Taxa de entrega 00,00€</span>
                </div>
            </header>
        </div>
        <div class="main-content">
            <main>
                <div class="categories">
                    @foreach(var category in Model.Categories)
                    {
                        <span>@category.Name</span>
                    }
                </div>
                <div class="products">
                    @foreach (var category in Model.Categories)
                    {
                        @foreach(var item in category.Items)
                        {
                            <div class="product">
                                <img src="~/images/dummy-food-option.jpeg" alt="bebidas" /><br />
                                <span>@item.Name</span>
                                <span>@item.Price</span>
                            </div>
                        }
                    }
                </div>
            </main>
        </div>
    </div>
</div>

