@model AeroBites.Models.Restaurant;

@{
    ViewData["Title"] = "Meu Restaurante";
    ViewData["CurrentPage"] = Enums.CurrentPage.MyRestaurant;
}

<div class="content-restaurant">
    <h1>.</h1>
</div>