<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div>
        <h1>LoginLayout</h1>
        @RenderBody()
    </div>

    <script src="https://accounts.google.com/gsi/client" async></script>
</body>
</html>