<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </head>

    <body class="app-login">
        <div class="container-left">
            <div class="container-left-text">
                <h2>Bem vindo, à</h2>
                <h1>AeroBites</h1>
            </div>

            <div class="container-left-logo">
                <img src="/images/logo.png" alt="AeroBites" />
            </div>
        
        </div>

        <div class="container-right">
            @RenderBody()
        </div>

        <script src="https://accounts.google.com/gsi/client" async></script>
    </body>
</html>