$navbar-height: 120px;

body > div.app-body {
    display: grid;
    grid-template-areas: "header" "main" "main";
    grid-template-rows: $navbar-height auto;
}

body > div.app-body > div.app-navbar {
    grid-area: header;
    background-color: #77DD77;
    padding: 16px 32px;

    > div {
        height: 100%;
        display: flex;
        justify-content: space-between;

        > img.app-logo {
            height: 100%;
        }

        > div.app-actions {
            height: auto;
            margin: auto 0;

            > .app-action[data-current-page="True"] {
                background-color: whitesmoke;
            }
        }
    }
}


body > div.app-body > main.app-content {
    $margin-top: 25px;

    grid-area: main;
    height: calc(100vh - $navbar-height - $margin-top);
    margin: $margin-top 180px;
    margin-bottom: 0;
}

