body.app-login {
    display: flex;
}

.container-left, .container-right {
    flex: 1;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    background-color: #77DD77;
}

    .container-left .container-left-text {
        text-align: center;
    }

.container-left-logo {
    display: flex;
    justify-content: center;
}

    .container-left-logo img {
        width: 400px;
        padding-bottom: 80%;
    }

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.container-right h1{
    margin-top: 100px;
    padding-bottom: 20px;
}
