main.app-content > div.content-myorders {

    > div.orders > div.order[data-ready-to-accept="True"] > div.info {
        background: #7d7;
    }

    > div.orders {
        margin-top: 33px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 9px;

        > div.order {
            display: flex;
            flex-direction: column;
            gap: 1px;

            &[data-expanded="true"] {
                > div.details {
                    display: grid;
                }

                > div.info > i.arrow {
                    transform: translateY(3px) rotate(-135deg);
                }
            }

            > div.info {
                display: flex;
                outline: 1px solid black;
                border-radius: 99px;
                padding: 13px 20px;
                justify-content: space-between;
                cursor: pointer;
                user-select: none;

                > button {
                    height: 23px;
                }

                > i.arrow {
                    border: solid #000;
                    border-width: 0px 2px 2px 0px;
                    padding: 2px;
                    transform: rotate(45deg);
                    width: 4px;
                    height: 4px;
                    margin: auto 0;
                }
            }

            > div.details {
                display: none;
                margin: 0 31px;
                height: auto;
                padding: 10px 23px;
                outline: 1px solid #000;
                border-radius: 19px;
                border-top-left-radius: 19px;
                border-top-right-radius: 19px;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                grid-template-columns: 1fr 2fr;

                > div.products {
                    > ul {
                        margin: 0;
                    }
                }
            }
        }
    }
}
