@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import "_layout.scss";

@import "_login.scss";
@import "_admin.scss";
@import "_restaurant.scss";
@import "_myrestaurant.scss";

table.app-table {
    width: 100%;
    border-collapse: collapse;

    > thead {
        height: 55px;
    }

    > tbody {
        > tr {
            height: 35px;

            &.big-row {
                height: 55px;
            }
        }
    }

    tr {
        border-bottom: 1px solid black;
    }

    td, th {
        padding: 0 13px;

        > div {
            height: 100%;
            width: 100%;

            &.center-align {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

div.app-grid {
    display: grid;
    height: 100%;
    gap: 50px;

    $grid-columns: 3, 4, 5, 6, 7;

    @each $columns in $grid-columns {
        &.grid-columns#{$columns} {
            grid-template-columns: repeat($columns, 1fr);
        }
    }
}

nav.app-tab {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 7px;

    > a.app-tab-action {
        height: 43px;
        font-size: 16px;
        border-radius: 8px;
        background-color: whitesmoke;
        cursor: pointer;
        padding: 0px 8px;
        border: 2px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        user-select: none;

        &.active-tab {
            background-color: green;
            color: whitesmoke;
            font-weight: bold;
            cursor: default;
        }
    }
}

a.app-icon {
    $icon-width: 64px;
    $icon-height: 64px;
    $icon-padding: 8px;

    display: block;
    width: calc($icon-width - $icon-padding * 3);
    height: calc($icon-height - $icon-padding * 3);
    background: none;
    border: 0;
    padding: $icon-padding;
    border-radius: 26px;

    &.small-icon {
        width: calc($icon-width * .75 - $icon-padding * 3);
        height: calc($icon-height * .75 - $icon-padding * 3);
    }

    > svg {
        width: 100%;
        height: 100%;
    }
}

.clickable {
    cursor: pointer;
}

.app-button {
    border: 1px solid black;
    height: 33px;
    font-size: 17px;
    padding: 0 13px;
    width: fit-content;
    text-decoration: none;
    color: black;
}

.app-color-green {
    background-color: #77DD77;
}

form.app-form {
    width: 100%;

    > div.app-form-group {
        display: flex;
        flex-direction: column;

        & + div.app-form-group {
            margin-top: 13px;
        }

        > .text-danger {
            color: red;
            font-size: 12px;
        }
    }
}