@{
    ViewData["Title"] = "Admin";
    ViewData["CurrentPage"] = Enums.CurrentPage.Admin;
}

<div class="content-admin">
    <nav class="app-tab">
        <a asp-action="" class="app-tab-action">Restaurantes</a>
        <a class="app-tab-action active-tab">Pontos de Recolha</a>
    </nav>

</div>