@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>

    <form asp-action="ApproveRestaurant">
        <input type="number" name="id" />
        <input type="submit" value="Aceitar" />
    </form>
</div>