@model IEnumerable<AeroBites.Models.Restaurant>;

@{
    ViewData["Title"] = "Admin";
    ViewData["CurrentPage"] = Enums.CurrentPage.Admin;
}

<div class="content-admin">
    <nav class="app-tab">
        <a class="app-tab-action active-tab">Restaurantes</a>
        <a asp-action="Collections" class="app-tab-action">Pontos de Recolha</a>
    </nav>

    <div>
        <table class="restaurants-list app-table">
            @* Endpoint is not to send the restaurants that are denied *@
            <thead>
                <tr>
                    <th style="width: 25%;" class="left-align">Restaurante</th>
                    <th style="width: auto;"></th>
                    <th style="width: 150px;"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var restaurant in Model ?? []) {
                    <tr class="big-row">
                        <td colspan="2">@restaurant.Name</td>
                        @if (restaurant.Status.Equals(Enums.RestaurantStatus.WaitingAcceptance)) {
                            <td>
                                <div class="center-align">
                                    <a class="icon small-icon clickable">
                                        <svg viewBox="0 0 448 512"><path d="M170.5 51.6L151.5 80l145 0-19-28.4c-1.5-2.2-4-3.6-6.7-3.6l-93.7 0c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80 368 80l48 0 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-8 0 0 304c0 44.2-35.8 80-80 80l-224 0c-44.2 0-80-35.8-80-80l0-304-8 0c-13.3 0-24-10.7-24-24S10.7 80 24 80l8 0 48 0 13.8 0 36.7-55.1C140.9 9.4 158.4 0 177.1 0l93.7 0c18.7 0 36.2 9.4 46.6 24.9zM80 128l0 304c0 17.7 14.3 32 32 32l224 0c17.7 0 32-14.3 32-32l0-304L80 128zm80 64l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16z" /></svg>
                                    </a>
                                </div>
                            </td>
                        }
                        else {
                            <td>
                                <div class="center-align">
                                    <a class="icon small-icon clickable">
                                        <svg viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /></svg>
                                    </a>
                                    /
                                    <a class="icon small-icon clickable">
                                        <svg viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" /></svg>
                                    </a>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>